{{extend 'layout.html'}}
<center><h1>{{=tagname}}</h1></center>
<div class="row">
<div class="col-sm-3"></div>
<div class="col-sm-6">
{{for questions in question:}}
<center>
	{{if tagname in questions.tags:}}
	<div class="jumbotron">
		<h2>{{=A(questions.question, _href=URL('answer',args=questions.id))}}</h2>
		{{if questions.anonymous==False:}}
			<h4><div>Asked By:{{=A(questions.author_name, _href=URL('profile', args=questions.created_by))}}</div></h4>
		{{else:}}
			<h4><div>Asked By: Anonymous</div></h4>
		{{pass}}
		<div>{{=prettydate(questions.created_on)}}
	</div>
	{{pass}}
</center>
{{pass}}
</div>
<div class="col-sm-3"></div>
</div>

